/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainHomeDiv {
  background-image: url(./Images/closetWhite.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  align-items: center;
  text-align: center;
  color: white;
}

.mainFormDiv {
  align-items: center;
  text-align: center;
}

.register {
  height: 450px;
}

.register-inner {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

/*hide Logout icon */
.hide-sm {
  display: none;
}
