/* Global Styles */

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainHomeDiv {
  background-image: url(./Images/closetWhite.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}

.jumbotron {
  align-items: center;
  text-align: center;
  color: white;
}

.mainFormDiv {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.register {
  height: 450px;
}

.register-inner {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

/*hide Logout icon */
.hide-sm {
  display: none;
}

/* Dashboard Page */
.dashboard-col {
  margin: 5px;
}

.dashboard-col h3 {
  text-align: center;
}
